<div style="left-margin:20px;"><%= link_to("Logout", destroy_user_session_path, :method => :delete)%></div>
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index +=1 %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
          "data-sid" => user.id, "data-rip" => user.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

